<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>MontserratAlternates-Black.ttf</string>
		<string>MontserratAlternates-BlackItalic.ttf</string>
		<string>MontserratAlternates-Bold.ttf</string>
		<string>MontserratAlternates-BoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraBold.ttf</string>
		<string>MontserratAlternates-ExtraBoldItalic.ttf</string>
		<string>MontserratAlternates-ExtraLight.ttf</string>
		<string>MontserratAlternates-ExtraLightItalic.ttf</string>
		<string>MontserratAlternates-Italic.ttf</string>
		<string>MontserratAlternates-Light.ttf</string>
		<string>MontserratAlternates-LightItalic.ttf</string>
		<string>MontserratAlternates-Medium.ttf
MontserratAlternates-MediumItalic.ttf
MontserratAlternates-Regular.ttf
MontserratAlternates-SemiBold.ttf
MontserratAlternates-SemiBoldItalic.ttf
MontserratAlternates-Thin.ttf
MontserratAlternates-ThinItalic.ttf</string>
		<string>MontserratAlternates-MediumItalic.ttf</string>
		<string>MontserratAlternates-Regular.ttf</string>
		<string>MontserratAlternates-SemiBold.ttf</string>
		<string>MontserratAlternates-SemiBoldItalic.ttf</string>
		<string>MontserratAlternates-Thin.ttf</string>
		<string>MontserratAlternates-ThinItalic.ttf</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>whatsapp</string>
	</array>
</dict>
</plist>
